*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: url(../img/orig_652622.jpg);
	background-size: cover;
	background-attachment:fixed; 
	font-family: helvetica ,arial, sans-serif;

}

/* inicio de la barra Nav */

header nav{
	border-bottom: 1px solid #F64740;
	margin-bottom: 10px;
	height: 60px;
	width: 100%;
	background:rgba(24,8,33,.4);
	overflow: hidden;

}
.parallax{
	float: left;
	position: relative;
	width: 150px;
	height: inherit;
	
	
}
.parallax h1{
	width: auto;
	height: inherit;
	color: white;
	padding: 0px 0px 0px 20px;
	line-height: 60px;
}
header div nav .lista{
	padding: 0px 20px 0px 0px;
	list-style: none;
	overflow: hidden;
}
header nav ul li{
	display: inline-block;
	float: right;

}
header nav ul li a{
	display: block;
	padding: 5px;
	text-decoration: none;
	color: white;
	line-height: 50px;
}
header nav ul li a:hover{
	-webkit-transition: 0.7s ease;
	   -moz-transition: 0.7s ease;
	    -ms-transition: 0.7s ease;
	     -o-transition: 0.7s ease;
	        transition: 0.7s ease;
	background:rgba(18,8,33,.8)
}

.menu-fixed {
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	height: 50px;
	-webkit-transition: 0.3s ease;
	   -moz-transition: 0.3s ease;
	    -ms-transition: 0.3s ease;
	     -o-transition: 0.3s ease;
	        transition: 0.3s ease;

}
/* fin de la barra Nav */

.contenedor {
	width: 90%;
	max-width:900px;
	margin:auto;
}

article {
	background:rgba(24,8,33,.8);
	padding:20px;
	margin:20px 0;
	margin-top: 50px;
	color:#fff;
	justify-content: center;
	-webkit-justify-content: space-around;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

 
article h2 {
	color:#fff;
}
 
article hr {
	background:#F64740;
	height:5px;
	border:none;
}
 
article p {
	line-height: 25px;
}
 
article h2, article p, article hr {
	margin-bottom: 20px;
}

